/*여기서부터 본문*/
.title{
color: #18181B;
font-family: Spoqa Han Sans Neo;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 32px;
width:100%;
height:32px;
margin:20px 40px;
}
.main{
display: flex;
height:auto;
margin: 20px;
margin-top:0px;
flex-direction: column;
justify-content: flex-start;
}
.table_container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-grow: 1;
}
.button_container{
position:relative;
height:36px;
}

/* 삭제항목 가리기 버튼 */
.hide{
position:absolute;
right:20px;

width:140px;
height:36px;
padding: 8px 10px;
border-radius: 4px;
background: #10B981;
border:None;

color: #FFF;
font-family: Spoqa Han Sans Neo;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}
/* 삭제항목 보이기 버튼 */
.show{
position:absolute;
right:20px;

width:140px;
height:36px;
padding: 8px 10px;
border-radius: 4px;
background: rgba(203, 213, 225, 1);
border:None;

color: rgb(0, 0, 0);
font-family: Spoqa Han Sans Neo;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
}
#info_screen > img {
height: 80px;
}
.recent,.recent2{
flex-basis: 720px;
min-width: 580px;
height: 910px;
margin: 20px 20px;
}
.subtitle{
color: #292625;
font-family: Spoqa Han Sans Neo;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 16px;
}

table{  
text-align: center;
}
td{
border-top: rgba(203, 213, 225, 1) solid 1px;
padding: 16px 24px;
height:140px;
align-items: center;
border-top: rgba(203, 213, 225, 1) solid 1px;
color: #71717A;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
max-width: 20px;
}
#table_recent{
border-radius: 8px;
background: #FFF;
box-shadow: 0px 0px 15px 0px rgba(138, 138, 138, 0.15);
width:100%;
min-width: 580px;
}
#col{
height: 64px;
color: #A1A1AA;
text-align: center;
font-family: Spoqa Han Sans Neo;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 22px;
padding: 20px 24px;
}

.old_alarm > #action {
color: #71717A;
text-align: center;
font-family: Spoqa Han Sans Neo;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
}

/* 버튼 효과 */
.hide:active,.accept:active,.delete:active {
background: rgba(203, 213, 225, 1);
color: rgb(0, 0, 0);
transition: all 0.2s ease;
}
.show:active{
background: #10B981;
color: rgb(255, 255, 255);
transition: all 0.2s ease;
}

/* 접수,삭제 버튼 */
.accept{
margin:1px 3px;
width:52px;
height:28px;
border-radius: 4px;
background: #D1FAE5;
border: None;

color: #0f9165;
font-family: Spoqa Han Sans Neo;
font-size: 13px;
font-style: normal;
font-weight: 700;
}
.delete{
margin:1px 3px;
width:52px;
height:28px;
border-radius: 4px;
background: #FAE4E7;
border: None;

color: #FF4465;
font-family: Spoqa Han Sans Neo;
font-size: 13px;
font-style: normal;
font-weight: 700;
}
.old_alarm_d{
  color: #71717A;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  opacity: 0.4;
}
#doubleleftbtn{
  background: url("/../static/images/chevron-double-left.svg") no-repeat;
  width: 30px;
  height: 30px;
  border:none;
}
#leftbtn{
  background: url("/../static/images/chevron-left-black.svg") no-repeat;
  width: 30px;
  height: 30px;
  border:none;
}

#doublerightbtn{
  background: url("/../static/images/chevron-double-right.svg") no-repeat;
  width: 30px;
  height: 30px;
  border:none;
}
#rightbtn{
  background: url("/../static/images/chevron-right-black.svg") no-repeat;
  width: 30px;
  height: 30px;
  border:none;
}
#page{
  display: flex;
  align-items:center;
}
.current-page {
  background-color: #BCF3DA;
}
.pagebtn{
  color: #333232;
  display: flex;
  justify-content: center;
  align-items:center; 
  /* eng/title/2 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: #F0F0F3;
  margin: 0px 8px 8px 0px;
  border-radius: 20px  
}

#pagination{
  display: flex;
  padding-left: 620px;
  align-items:center;
}