body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .zoomable-div {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .zoomable-div.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .zoomable-div.expanded img {
    max-width: 90%;
    max-height: 90%;
  }
  