{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Spoqa+Han+Sans+Neo&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/setting.css' %}"/>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script defer type="module" src="{% static 'js/setting.js' %}"></script>

        <title>Setting</title>	
	</head>
    <body>
        <div class="v20_125">
            <div class="top">
                <a href="#"><img src="/../static/images/LOGO.svg"/></a>
                <span class = 'new'>신규알람 2건
                    <img class='bell' src="/../static/images/bell.svg"/>
                </span>
                
            </div>
            <div class="side">
                <a href="{% url 'site_admin:main' %}">
                    <button class="dashboard">
                        <div class="name"></div>
                        <span class="yet_click">대시보드</span>
                    </button>
                </a>

                <a href="{% url 'site_admin:detail' %}">
                    <button class="total">
                        <div class="name"></div>
                        <span class="yet_click">전체내역</span>
                    </button>
                </a>

                <a href="{% url 'site_admin:liveCam' %}">
                    <button class="livecam">
                        <div class="name"></div>
                        <span class="yet_click">LIVECAM</span>
                    </button>
                </a>    

                <a href="{% url 'site_admin:statistics' %}">
                    <button class="statistic">
                        <div class="name"></div>
                        <span class="yet_click">통계</span>
                    </button>
                </a>      

                <a href="{% url 'site_admin:setting' %}">
                    <button class="setting">
                        <div class="name"></div>
                        <span class="now_click">관리자설정</span>
                    </button>
                </a>
            </div>
            <div class="content">
				<div class="title">관리자설정</div>
				<div class="main">
					<div id ='left'>
						<a id='camset'>CAM</a>
						<div id='serachbox'>
							<input type="text" id="spacelist" placeholder="설정할 카메라 위치를 검색해주세요.">
							<button id='searchbtn' onclick="search()">검색</button>
						</div>
						<div id='topselect'>
							<div id='selectall'>
								<label id='label_selectall'>
								<input type="checkbox" onclick="toggleAll(this)" name='camera' value='selectall' id='checkAll'>전체선택</label>
							</div>
							{% comment %} <div id='camselect'>
								<select id="itemsPerPage" onchange="showResults()">
								<option value="10">10개</option>
								<option value="15">15개</option>
								<option value="20">20개</option>
								</select>
							</div> {% endcomment %}
						</div>
						{% comment %} {% if postList %}
						<ul>
							{% for post in postList %}
							<li><input type="checkbox">{{ post.location }} {{ post.add }}</li>
							{% endfor %}
						</ul>
						{% else %}
						<p>게시물이 없습니다.</p>
						{% endif %} {% endcomment %}
						<ul id="cameralist" >
							<!-- 목록을 나타낼 요소 -->
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로근린공원(전)0110P_032</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로지예공원(전)0210P_033</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로도서관(전)0170P_034</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">오승범 집(전)0110P_035</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로지예공원(전)0210P_036</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로도서관(전)0170P_037</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로근린공원(전)0110P_038</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로지예공원(전)0210P_039</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로도서관(전)0170P_040</li>
							<li id='cam'><input name='camera' class='camcb' type="checkbox">구로도서관(전)0170P_040</li>
						</ul> =
					</div>
					
					<div id='right'>
						<!--  음량조절 -->
						<div id ='volume'>
							<label for="soundcontrol" id ='volumename' >음량</label>
							<div id='volumebox'>
								<input type="range" id="volumeSlider" min="0" max="100" step="1" value="50">
								<button onclick="muteVolume()" id='mutebtn'>음소거</button>
							</div>
						</div>
						<!-- 반복 -->
						<div id ='repeat'>
							<div id='container1'>
								<label id ='setname' for="repeatCount">반복 횟수(회):</label>
								<div id ='container-box'>
									<div id='result'>5회</div>
									<div id ='btnbox'>
									<input type='button' id = 'btnup'
										onclick='count("plus")'>
									<input type='button' id = 'btndown'
										onclick='count("minus")'>
									</div>
								</div>
							</div>
								<!--  반복 주기  -->
							<div id='container2'>
								<label id ='setname' for="repeatInterval">반복 주기(분):</label>
								<div id='container-box'>
									<div id='result2'>3분</div>
									<div id ='btnbox'>
										<input type='button' id = 'btnup'
										onclick='count2("decreaseRepeatCount")'>
										<input type='button' id ='btndown'
											onclick='count2("increaseRepeatCount")'>
									</div>
								</div>
							</div>
						</div>

						<!--  무음 시간 설정  --> 
						<div id ='repeat'>
							<div id='container1'>
								<label id ='setname' for="startTime">시작 시간:</label>
								<div id='container-box'>
									<div id='startTimeDisplay'>0시</div>
									<div id ='btnbox'>
										<input type='button' id = 'btnup'
										onclick='count3("increaseTime1")'>
										<input type='button' id = 'btndown'
											onclick='count3("decreaseTime1")'>
									</div>
								</div>
							</div>
						
							<div id='container2'>
								<label id='setname' for="endTime">종료 시간:</label>
								<div id='container-box'>
									<div id='endTimeDisplay'>18시</div>
									<div id ='btnbox'>
										<input type='button' id='btnup'
										onclick='count4("increaseTime2")'>
										<input type='button' id='btndown'
											onclick='count4("decreaseTime2")'>
									</div>
								</div>
							</div>
						</div>
						<!--  안내 멘트 입력 부분 -->
						<div id='announce'>
							<label id='ment' for="instruction">안내멘트 입력:</label>
							<input type="text" id="instruction">
						</div>

						<!--  설정 저장  -->
						<div id ='save'>
							<button id='savebtn' onclick="savePageSettings()">저장</button>
						</div>
						<script src="{% static 'js/setting.js' %}"></script>
					</div>
				</div>
            </div>
        </div>
    </body>
</html>
